.orange-text {
  color: var(--orange);
  font-weight: 300;
}

.app-submitRound-recent {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 50px;
  text-align: center;
}

.app-submitRound-recent-content-container {
  height: auto;
  width: 60%;
  margin: auto;
}

.app-submitRound-recent-content {
  overflow-y: scroll;
}

.app-submitRound-recent-content::-webkit-scrollbar {
  width: 0px;
}

.app-submitRound-recent-content::-webkit-scrollbar-track {
  background: var(--darkGrey);
}

.app-submitRound-recent-content::-webkit-scrollbar-thumb {
  background: var(--lightGrey);
}

.app-submitRound-recent-round {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: auto auto;
  border-top: 2px solid var(--darkGrey);
}

.app-submitRound-recent-round:nth-child(odd) {
  background: rgba(0, 0, 0, 0.5);
}

.app-submitRound-recent-round:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
}

#black-background {
  background: rgba(0, 0, 0, 0.75);
}

.app-submitRound-recent-round:last-child {
  border-bottom: 2px solid var(--darkGrey);
}

.app-submitRound-recent-round input {
  margin: auto;
}

.app-submitRound-recent-round h3 {
  grid-column: 2;
  color: var(--orange);
  font-weight: 300;
  margin: 10px auto 0px;
}

.app-submitRound-recent-round-data {
  grid-column: 1/4;
  grid-row: 2;
  margin: auto 10px 10px;
}

.app-submitRound-recent-round-data-heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 1px solid var(--darkGrey);
}

.app-submitRound-recent-round-data-heading h4 {
  margin: 5px auto 1px;
  color: var(--lightGrey);
  font-weight: 300;
}

.app-submitRound-recent-round-data-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.app-submitRound-recent-round-data-content time {
  color: var(--orange);
  font-size: 0.75em;
  margin: auto;
  font-weight: 300;
}

.app-submitRound-submit-content-date-inputs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: auto;
}

#submitRound-date {
  margin: auto;
}

.app-submitRound-submit-content-date-inputs button {
  width: 100px;
  height: 25px;
  margin: 15px auto;
  background-color: var(--lightGrey);
}

.app-submitRound-recent-round-data-content p {
  margin: 5px auto;
  color: var(--orange);
  font-weight: 300;
  font-size: 0.8em;
}

.app-submitRound-submit {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 50px;
  text-align: center;
}

.app-submitRound-submit-container {
  position: relative;
  height: 90%;
  width: 75%;
  margin: auto auto 0px;
  display: grid;
  grid-template-rows: 100px 50px auto;
  text-align: center;
}

.app-submitRound-submit-topNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  color: var(--lightGrey);
  border-bottom: 1px solid var(--darkGrey);
  border-top: 1px solid var(--darkGrey);
}

.app-submitRound-submit-summary-container {
  display: grid;
  grid-template-columns: 75px 4fr 75px;
}

.app-submitRound-submit-summary-content {
  grid-column: 2;
  color: var(--orange);
  font-size: 0.8em;
}

.no-details-selected {
  width: 75%;
}

.app-submitRound-submit-summary-content time {
  font-weight: 300;
}

.app-submitRound-submit-summary-content-course {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  margin: auto;
}

.app-submitRound-submit-summary-content p {
  font-weight: 300;
  margin: 5px auto;
  text-transform: capitalize;
  width: 100%;
}

.app-submitRound-submit-summary-container button {
  background-color: #1a1a1a;
  width: 70px;
  margin: auto auto 10px;
  height: 40px;
  font-size: 1em;
}

#submitRound-backButton {
  color: #a1a659;
  border: solid 1px #a1a659;
  grid-column: 1;
}

#submitRound-nextButton {
  color: var(--green);
  border: solid 1px var(--green);
  grid-column: 3;
}

#submitRound-submitButton {
  background-color: #1a1a1a;
  width: 100px;
  margin: 10px auto;
  height: 50px;
  font-size: 1em;
  color: var(--green);
  border: solid 1px var(--green);
}

.app-submitRound-submit-content-date {
  margin-top: 75px;
}

.app-submitRound-submit-content-date input {
  width: 150px;
  height: 30px;
  font-size: 1em;
}

.app-submitRound-submit-content-date h3 {
  color: var(--lightGrey);
  font-weight: 400;
}

#nav-link-style {
  color: var(--orange);
  text-decoration: underline;
}

.button-hide {
  display: none;
}

.app-submitRound-submit-content-course {
  display: grid;
  grid-template-rows: 150px auto;
  height: 100%;
}

.app-submitRound-submit-content-course-h3 {
  color: var(--lightGrey);
  font-weight: 400;
}

#submitRound-course-search {
  width: 175px;
  height: 25px;
  margin: auto auto 25px;
  font-size: 1em;
}

#submitRound-player-search {
  width: 175px;
  height: 25px;
  margin: auto auto 25px;
  font-size: 1em;
}

.app-submitRound-submit-content-courses-container {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-y: auto;
  position: relative;
}

.app-submitRound-submit-content-courses-container::-webkit-scrollbar {
  width: 0px;
}

.app-submitRound-submit-content-courses-container::-webkit-scrollbar-track {
  background: var(--darkGrey);
}

.app-submitRound-submit-content-courses-container::-webkit-scrollbar-thumb {
  background: var(--lightGrey);
}

.app-submitRound-submit-content-courses {
  margin: auto;
  height: auto;
  max-height: 30vh;
}

.app-submitRound-submit-content-course-course {
  height: 50px;
  border-top: solid 1px var(--darkGrey);
  display: grid;
  color: var(--orange);
  grid-template-rows: auto;
}

.course-name-button {
  background: none;
  border: none;
  color: var(--lightGrey);
  font-size: 0.9em;
  font-weight: 300;
}

.course-name-button:focus {
  outline: 0;
}

.tee-name-button {
  width: 60px;
  height: 30px;
  margin: auto 10px;
  background-color: var(--lightGrey);
  font-weight: 600;
  text-transform: uppercase;
}

.app-submitRound-submit-content-course-course:last-child {
  border-bottom: solid 1px var(--darkGrey);
}

.app-submitRound-submit-content-course-course div {
  margin: auto;
}

.app-submitRound-submit-content-course-course h4 {
  font-weight: 300;
  margin: auto;
  height: 100%;
  width: 100%;
}

.app-submitRound-submit-content-league-league {
  height: 50px;
  border-top: solid 1px var(--darkGrey);
  display: grid;
  color: var(--lightGrey);
  font-weight: 300;
  grid-template-rows: auto;
}

.app-submitRound-submit-content-league-league:last-child {
  border-bottom: solid 1px var(--darkGrey);
}

.app-submitRound-players-player {
  border-top: solid 1px var(--darkGrey);
  font-size: 0.9em;
}

.select-players-button {
  width: 100%;
  height: 50px;
  margin: auto;
  border: none;
  background: none;
  color: var(--lightGrey);
  font-size: 1.25em;
  font-weight: 300;
}

.select-players-button:focus {
  outline: 0;
}

#player-selected {
  color: var(--orange);
  background: rgba(0, 0, 0, 0.5);
}

.app-submitRound-players-player:last-child {
  border-bottom: solid 1px var(--darkGrey);
}

.app-submitRound-players-player p {
  font-size: 1.5em;
  padding: 0;
  margin: 10px auto;
  color: var(--orange);
  font-weight: 300;
  grid-column: 1;
}

#submitRound-scores-container {
  max-height: 30vh;
}

.app-submitRound-submit-content-scores {
  display: grid;
  grid-template-rows: 75px auto;
  height: 100%;
}

.app-submitRound-players-score {
  display: grid;
  grid-template-columns: 200px 75px;
  border-top: solid 1px var(--darkGrey);
  width: 275px;
  margin: auto;
}

.app-submitRound-players-score:last-child {
  border-bottom: solid 1px var(--darkGrey);
}

.app-submitRound-players-score:last-child {
  border-bottom: solid 1px var(--darkGrey);
}

.app-submitRound-players-score p {
  font-size: 1.25em;
  padding: 0;
  margin: 10px auto;
  color: var(--lightGrey);
  font-weight: 300;
}

.app-submitRound-players-scores {
  display: grid;
  border-top: solid 1px var(--darkGrey);
  width: 75%;
  margin: auto;
}

.app-submitRound-players-scores:last-child {
  border-bottom: solid 1px var(--darkGrey);
}

.app-submitRound-players-scores-content {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 50%;
  margin: auto;
}

#app-submitRound-players-scores-content-player {
  margin-left: 0px;
}

.submitRound-score {
  width: 50px;
  height: 25px;
  margin: auto;
  font-size: 1em;
  text-align: center;
}

.app-submitRound-submit-content-summary {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto 35vh 70px;
  margin: auto;
}

.app-submitRound-submit-content-summary-scores::-webkit-scrollbar {
  width: 5px;
}

.app-submitRound-submit-content-summary-scores::-webkit-scrollbar-track {
  background: var(--darkGrey);
}

.app-submitRound-submit-content-summary-scores::-webkit-scrollbar-thumb {
  background: var(--lightGrey);
}

.app-submitRound-submit-content-summary-scores {
  overflow-y: auto;
  height: 90%;
  margin: auto 0px;
}

.app-submitRound-submit-content-summary-scores p {
  padding: 5px;
}

.app-submitRound-submit-content-summary p {
  color: var(--orange);
  font-weight: 300;
  margin: auto;
  font-size: 1.25em;
  padding: 10px auto;
}

.app-submitRound-submit-content-summary-p {
  text-transform: capitalize;
  margin-top: 0px;
}

.app-submitRound-submit-content-summary span {
  color: var(--lightGrey);
}

#round-submitted-success {
  display: none;
  color: var(--orange);
  margin-top: 25px;
}

.course-tee-buttons {
  display: none;
}

@media only screen and (max-width: 500px) {
  .app-submitRound-submit {
    grid-template-rows: auto;
  }

  .app-submitRound-recent-content-container {
    width: 100%;
    height: 79%;
    margin: 35% auto auto;
  }
  .app-submitRound-recent-content {
    height: 100%;
  }

  .app-submitRound-recent-round-data-heading h4 {
    font-size: 0.75em;
  }

  .app-submitRound-recent-round-data-content p {
    font-size: 0.75em;
  }

  .app-submitRound-recent-round input {
    width: 30px;
  }

  .app-submitRound-submit-content-date h3 {
    font-size: 1em;
  }

  .app-submitRound-recent-round h3 {
    grid-column: 2;
    font-size: 1em;
  }

  .app-submitRound-recent-round-data {
    grid-column: 1/4;
    grid-row: 2;
  }
  .app-submitRound-submit-container {
    width: 100%;
    width: 100%;
    height: 79%;
    margin: 35% auto auto;
    grid-template-rows: 80px 40px auto;
  }

  .app-submitRound-submit-content-course {
    display: grid;
    grid-template-rows: 100px 3fr;
  }

  .app-submitRound-submit-content-course-h3 {
    font-size: 0.9em;
  }
  .app-submitRound-submit-content-courses {
    font-size: 1em;
    width: 100%;
  }

  .app-submitRound-submit-summary-container {
    display: grid;
    grid-template-columns: 70px 4fr 70px;
  }

  .app-submitRound-submit-summary-container button {
    width: 90%;
    height: 30px;
    font-size: 0.75em;
    margin: auto auto 10px;
    text-align: center;
  }

  .app-submitRound-submit-summary-content {
    font-size: 0.75em;
  }

  .app-submitRound-submit-topNav {
    font-size: 0.8em;
  }
  #submitRound-course-search {
    width: 150px;
    height: 20px;
    font-size: 0.8em;
  }

  #submitRound-player-search {
    width: 150px;
    height: 20px;
    font-size: 0.8em;
  }
  .app-submitRound-submit-content-courses-container::-webkit-scrollbar {
    width: 0px;
  }

  .app-submitRound-submit-content-summary p {
    color: var(--orange);
    margin: auto;
    padding: 5px;
    font-size: 1em;
  }

  #submitRound-score {
    width: 40px;
  }
}

@media only screen and (max-height: 850px) and (max-width: 450px) {
  .app-submitRound-submit-content-summary {
    grid-template-rows: 30px 30px 30px 35vh 70px;
  }

  .app-submitRound-players-scores-content {
    width: 75%;
  }
}

@media only screen and (max-height: 750px) and (max-width: 425px) {
  .app-submitRound-submit-content-summary {
    grid-template-rows: 30px 30px 30px 30vh 70px;
  }
}

@media only screen and (max-height: 600px) and (max-width: 350px) {
  .app-submitRound-submit-content-summary {
    grid-template-rows: 30px 30px 30px 20vh 70px;
  }
}
