@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Patua+One");

:root {
  --orange: #ff6100;
  --green: #33ae18;
  --border: #f2f2f2;
  --lightGrey: #bfbfbf;
  --darkGrey: #404040;
  --filterButton: #d9d9d9;
}

/* font-family: 'Patua One', cursive; */

body {
  background-color: #bfbfbf;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.App {
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0%;
  margin: auto;
}

#orange-q {
  color: var(--orange);
}

/* mobile view will shift at width: 800px, height: 700px */
