.app-home-home-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  font-size: 1em;
}

.app-home-courses-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1em;
}

.app-home-nav-middle {
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: var(--lightGrey);
  font-size: 1em;
  border-top: 1px solid var(--lightGrey);
  border-bottom: 1px solid var(--lightGrey);
}

.app-home-nav-right {
  border-left: 1px solid var(--lightGrey);
  border-right: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: var(--lightGrey);
  font-size: 1em;
  border-top: 1px solid var(--lightGrey);
  border-bottom: 1px solid var(--lightGrey);
}

.app-home-dashboard-nav a {
  margin: auto;
  width: 100%;
  height: 100%;
  color: var(--lightGrey);
  text-align: center;
  text-decoration: none;
}

.app-home-nav-button {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: var(--lightGrey);
  border-left: none;
  border-right: none;
  font-size: 1em;
  border-top: 1px solid var(--lightGrey);
  border-bottom: 1px solid var(--lightGrey);
}

#app-home-nav-selected {
  background-color: var(--darkGrey);
  color: var(--orange);
}

@media only screen and (max-width: 500px) {
  .app-home-dashboard-content {
    width: 100%;
    max-height: 65%;
  }

  .app-home-rounds-content {
    width: 100%;
    height: 90%;
    margin: auto auto 0px;
    font-size: 0.8em;
  }

  .app-home-rounds-round-more {
    width: 65%;
  }

  .app-home-dashboard-recentRound {
    border-bottom: none;
  }

  .app-home-courses-content {
    width: 100%;
    height: 90%;
    margin: auto auto 0px;
  }

  .app-courses-course {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    height: 50px;
  }

  .app-courses-course h3 {
    grid-column: 1;
    padding: 0px;
    font-size: 0.8em;
  }

  .app-courses-course-data {
    display: none;
  }

  .app-courses-course-selectArrow {
    grid-column: 2;
    margin: auto;
  }

  .app-courses-course-backArrow {
    width: 30px;
  }

  .selectedCourse-container {
    width: 95%;
    margin: auto auto 0px;
  }

  .selectedCourse-data {
    width: auto;
    height: 100%;
    margin-top: 0px;
  }

  .selectedCourse-data h2 {
    font-size: 1.2em;
  }

  .selectedCourse-data-info1 {
    grid-column: 1/4;
    width: 100%;
    margin: 25px auto auto;
    font-size: 0.75em;
  }

  .selectedCourse-data-info2 {
    grid-column: 1/4;
    width: 100%;
    height: auto;
    margin: 30px auto 0px;
    font-size: 0.9em;
  }

  .selectedCourse-rounds-container {
    height: 45vh;
    margin: auto auto 0px;
  }

  .app-home-courses-content-addCourse {
    width: 100%;
  }

  .app-courses-course-data-add {
    width: 100%;
    grid-column: 1;
  }

  .app-courses-course-database {
    grid-template-columns: 6fr 1fr;
  }

  .app-courses-course-database h3 {
    grid-column: 1;
  }

  .add-course-button {
    grid-column: 2;
    grid-row: 1;
  }

  .app-home-friends-content {
    width: 100%;
    height: 90%;
    margin-bottom: 0px;
  }

  .app-friends-friend {
    grid-template-columns: 3fr 1fr;
  }

  .app-friends-friend p {
    grid-column: 1;
  }

  .add-friend-button {
    grid-column: 2;
    padding: 0px 10px;
  }

  .app-home-dashboard-content-friend-container {
    width: 100%;
    max-height: 65%;
  }

  .app-home-courses-data-container {
    margin-top: 15px;
    max-height: 69vh;
    border-top: solid 1px (--lightGrey);
  }

  .app-home-rounds-data-container {
    border-top: solid 1px (--lightGrey);
  }
}

@media only screen and (max-width: 325px) and (max-height: 575px) {
  .app-home-dashboard-content {
    width: 100%;
    height: 100%;
    max-height: 90%;
    margin: auto auto 0px;
  }

  .app-home-rounds-content {
    width: 100%;
    height: 90%;
    margin: auto auto 0px;
    font-size: 0.8em;
    grid-template-rows: 50px auto;
  }

  .app-home-rounds-heading {
    font-size: 0.8em;
  }

  .app-home-rounds-heading h3 {
    margin: 25px auto 5px;
  }

  .app-home-rounds-round-more {
    width: 65%;
  }

  .app-home-dashboard-recentRound {
    border-bottom: none;
  }

  .app-home-courses-content {
    width: 100%;
    height: 90%;
    margin: auto auto 0px;
  }

  .app-courses-course-backArrow {
    width: 30px;
    margin: auto;
  }

  .selectedCourse-container {
    width: 95%;
    margin: auto auto 0px;
  }

  .selectedCourse-data {
    width: auto;
    height: 100%;
    margin-top: 20px;
  }

  .selectedCourse-data h2 {
    font-size: 1em;
  }

  .selectedCourse-data-info1 {
    grid-column: 1/4;
    width: 90%;
    margin: 10px auto;
    font-size: 0.75em;
  }

  .selectedCourse-data-info2 {
    grid-column: 1/4;
    width: 100%;
    margin: 10px auto;
    font-size: 0.75em;
  }

  .app-courses-course {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    height: 50px;
  }

  .app-courses-course h3 {
    grid-column: 1;
    padding: 0px;
  }

  .app-courses-course-data {
    display: none;
  }

  .app-courses-course-selectArrow {
    grid-row: 1;
    grid-column: 2;
    margin: auto;
  }

  .app-courses-course-data-add {
    width: 100%;
    grid-column: 1;
  }

  .app-courses-course-database {
    grid-template-columns: 6fr 1fr;
  }

  .app-courses-course-database h3 {
    grid-column: 1;
  }

  .add-course-button {
    grid-column: 2;
    grid-row: 1/3;
  }

  .app-home-friends-content {
    width: 100%;
    height: 90%;
    margin-bottom: 0px;
  }

  .app-friends-friend {
    grid-template-columns: 3fr 1fr;
  }

  .app-friends-friend p {
    grid-column: 1;
  }

  .add-friend-button {
    grid-column: 2;
    padding: 0px 10px;
  }

  .app-home-dashboard-content-friend-container {
    width: 100%;
    max-height: 65%;
  }

  .app-friends-friend-backArrow {
    position: relative;
    left: 0;
  }

  .app-home-courses-data-container {
    margin-top: 15px;
    max-height: 60vh;
  }
}

@media only screen and (max-width: 600px) {
  .app-home-nav-button {
    border-bottom: none;
  }
  .app-home-nav-right {
    border-bottom: none;
  }
  .app-home-nav-middle {
    border-bottom: none;
  }
}
