.home-container {
  display: grid;
  grid-template-rows: 3fr 2fr;
  height: 100%;
}

#home-heading1 {
  font-family: "Patua One", cursive;
  color: var(--lightGrey);
  margin: auto;
  font-size: 3em;
  text-align: center;
}

#home-heading2-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
}

#home-heading2 {
  color: var(--lightGrey);
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  grid-column: 1/3;
}

#home-heading2-leftArrow {
  margin: auto;
  text-align: center;
}

#home-heading2-rightArrow {
  margin: auto;
  text-align: center;
}

#home-heading2-leftArrow input {
  width: 85%;
}

#home-heading2-rightArrow input {
  width: 85%;
}

.home-heading-container {
  text-align: center;
  margin: auto auto 0px auto;
  color: var(--lightGrey);
}

.home-heading-container h1 {
  font-weight: 400;
  font-size: 2em;
}

.home-heading-container2 {
  text-align: center;
  margin: auto;
  color: var(--lightGrey);
}

.home-heading-container2 h1 {
  font-weight: 400;
  font-size: 2em;
}

.home-heading-green {
  color: var(--green);
}

.home-heading-orange {
  color: var(--orange);
}

.home-content-section {
  color: var(--lightGrey);
}

.home-content-section2 {
  margin: auto;
}
.home-content-section2 img {
  margin: auto;
}

.home-boxes-container {
  width: 90%;
  height: 80%;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home-boxes-box-side {
  border: 1px solid var(--lightGrey);
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.home-boxes-box-side h2 {
  margin: auto;
  text-align: center;
  text-decoration: underline;
}

.home-boxes-box-side p {
  margin: auto;
  text-align: center;
  width: 75%;
  font-size: 1em;
  padding: 2px;
}

#home-boxes-box-middle ul {
  margin: auto;
  list-style-type: none;
  padding: 0;
}

.home-box-icon {
  margin: auto;
  width: 25%;
  padding: 5px;
}

.home-back-button {
  margin: 15px auto auto;
}

.home-continue-button {
  margin: auto auto 15px;
}

.home-main-content-container {
  margin: auto;
}

.home-main-content-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

.home-search {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 100%;
  height: 100%;
}

#home-search-card-example {
  margin: auto;
  display: block;
  margin-top: 25px;
}

#compare-cards-example {
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2em;
}

#compare-cards-example img {
  margin: auto;
}

#blog-page-link {
  text-decoration: underline;
}

#app-page3-p {
  font-size: 1.5em;
  text-align: center;
  margin: 50px auto;
  width: 70%;
}

.home-boxes-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 25px auto;
  width: 70%;
}

@media only screen and (max-width: 900px) {
  .home-content-section2 {
    margin: auto;
  }
  .home-content-section2 img {
    width: 250px;
    margin-right: 5px;
  }
  .home-search-compare-example {
    width: 125px;
  }
  #home-boxes-box-middle ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .layout-container-out {
    max-height: 100%;
  }

  .home-heading-container h1 {
    font-size: 1.2em;
  }

  .home-heading-container2 h1 {
    font-size: 1.2em;
  }
  .home-boxes-container {
    width: 90%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    max-height: 100%;
  }

  .home-boxes-container img {
    width: 20%;
    padding-top: 5px;
  }

  #home-boxes-box-middle ul li {
    margin: auto;
  }

  .home-boxes-box-side {
    font-size: 0.65em;
    min-height: 120px;
  }

  #home-boxes-box-right {
    grid-column: 1/3;
    width: 50%;
    margin: 0 auto;
    border-top: none;
  }

  .home-search {
    grid-template-rows: 1fr auto 1fr;
    height: 90%;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    max-height: 575px;
  }

  .home-back-button input {
    width: 50px;
  }

  .home-continue-button input {
    width: 50px;
  }

  .home-main-content-container2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    width: 75%;
  }

  .home-content-section2 img {
    width: 200px;
  }

  #home-search-compare-example3 {
    display: none;
  }

  #compare-cards-example {
    grid-template-columns: auto auto;
  }

  .home-content-section2 img {
    margin: 25px auto;
  }
  #home-heading2-leftArrow {
    height: 100%;
  }
  #home-heading2-rightArrow {
    height: 100%;
  }

  .home-boxes-container3 img {
    width: 50%;
  }

  #app-page3-p {
    font-size: 1em;
  }
  #home-heading1 {
    font-size: 2em;
    width: 90%;
  }

  #home-heading2 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 825px) and (min-width: 576px) and (max-height: 420px) {
  #home-heading1 {
    font-size: 2em;
  }
  #home-heading2 {
    font-size: 1.5em;
  }
  #home-heading2-leftArrow {
    width: 75%;
  }
  #home-heading2-rightArrow {
    width: 75%;
  }
  .home-main-content-container {
    width: 75%;
  }
  .home-back-button input {
    width: 40px;
  }
  .home-continue-button {
    margin: auto auto 5px;
  }
  .home-continue-button input {
    width: 40px;
  }
  .home-search {
    height: 90%;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
  }
  .home-heading-container h1 {
    font-size: 1.25em;
  }
  .home-main-content-container {
    height: auto;
  }
  .home-boxes-container {
    height: auto;
    margin: 5px auto;
  }
  .home-boxes-box-side {
    height: 125px;
    min-height: 75px;
    font-size: 0.75em;
  }
  .home-boxes-box-side p {
    width: 95%;
  }
  .home-boxes-container img {
    width: 25px;
    margin: 0 auto;
  }
  .home-boxes-container3 {
    margin: auto;
  }
  #app-page3-p {
    font-size: 1em;
    margin: 5px auto;
  }
  #home-search-card-example {
    margin-top: 10px;
    height: 120px;
  }
  #home-search-filter-example {
    height: 170px;
    width: auto;
    margin: 0px auto;
  }
  .home-heading-container2 h1 {
    font-weight: 400;
    font-size: 1.5em;
  }
  .home-main-content-container2 {
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin: auto;
  }
  .home-search-compare-example {
    width: 85px;
  }
  #compare-cards-example {
    width: 75%;
    margin: 10px auto;
  }
  #home-boxes-box-middle {
    border-left: none;
    border-right: none;
  }
}

@media only screen and (max-width: 575px) and (max-height: 420px) {
  .home-search {
    height: 90%;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
  }
  .home-heading-container h1 {
    font-size: 1em;
  }
  .home-back-button input {
    width: 40px;
  }
  .home-continue-button {
    margin: auto auto 5px;
  }
  .home-continue-button input {
    width: 40px;
  }
  .home-content-section {
    height: auto;
  }
  .home-boxes-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 110px;
    margin: 10px auto;
  }
  .home-boxes-box-side {
    height: auto;
    min-height: 75px;
    font-size: 0.75em;
  }
  .home-boxes-box-side p {
    font-size: 0.8em;
  }
  .home-boxes-container img {
    width: 25px;
    margin: 0 auto;
  }
  #home-boxes-box-right {
    grid-column: 3;
    width: 100%;
    border-left: none;
    border-top: solid 1px var(--lightGrey);
  }
  .home-boxes-container3 {
    margin: 5px auto;
  }
  .home-boxes-container3 img {
    width: 30px;
  }
  #app-page3-p {
    margin: 5px auto;
    font-size: 1em;
  }
  #home-search-card-example {
    margin-top: 10px;
    height: 120px;
  }
  .home-content-section2 {
    margin: 5px auto;
  }
  #home-search-filter-example {
    height: 170px;
    width: auto;
    margin: 0px auto;
  }
  .home-main-content-container2 {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 75%;
  }
  .home-search-compare-example {
    width: 85px;
  }
  #compare-cards-example {
    margin-top: 10px;
  }
  #home-boxes-box-middle {
    border-left: none;
  }
}
