.home-container {
  display: grid;
  grid-template-rows: 3fr 2fr;
  height: 100%;
}

#home-heading1 {
  font-family: "Patua One", cursive;
  color: var(--lightGrey);
  margin: auto;
  font-size: 3em;
  text-align: center;
}

#home-heading2-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
}

#home-heading2 {
  color: var(--lightGrey);
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  grid-column: 1/3;
}

#home-heading2-leftArrow {
  margin: auto;
  text-align: center;
}

#home-heading2-rightArrow {
  margin: auto;
  text-align: center;
}

#home-heading2-leftArrow input {
  width: 85%;
}

#home-heading2-rightArrow input {
  width: 85%;
}

@media only screen and (max-width: 600px) {
  #home-heading1 {
    font-size: 2em;
    width: 90%;
  }

  #home-heading2 {
    font-size: 1.5em;
  }

  #home-heading2-leftArrow {
    height: 25%;
  }

  #home-heading2-rightArrow {
    height: 25%;
  }
}
