.app-home-dashboard-content {
  width: 65%;
  max-width: 400px;
  height: 75%;
  max-height: 450px;
  margin: auto;
  display: grid;
  grid-template-rows: 75px 75px 75px 150px;
  grid-template-columns: 1fr 1fr;
}

.app-home-dashboard-content h4 {
  color: var(--lightGrey);
  text-align: center;
  font-weight: 300;
}

.app-home-dashboard-content p {
  color: var(--orange);
  font-size: 1.25em;
  font-weight: 300;
  text-align: center;
}

.app-home-dashboard-exp {
  grid-row: 1;
  grid-column: 1/3;
  border-bottom: solid 1px var(--darkGrey);
}

.app-home-dashboard-exp h2 {
  color: var(--lightGrey);
  text-align: center;
  margin: 2px;
  font-weight: 400;
}

.app-home-dashboard-expBar-container {
  width: 75%;
  height: 15px;
  border: 1px solid var(--orange);
  margin: 5px auto 10px;
}

.app-home-dashboard-expBar-filler {
  background-color: var(--darkGrey);
  height: 100%;
}

.app-home-dashboard-roundsPlayed {
  border-bottom: solid 1px var(--darkGrey);
  border-right: solid 1px var(--darkGrey);
  grid-row: 2;
  grid-column: 1;
}

.app-home-dashboard-roundsPlayed h4,
.app-home-dashboard-roundsPlayed p,
.app-home-dashboard-coursesPlayed h4,
.app-home-dashboard-coursesPlayed p,
.app-home-dashboard-recentAchieve p,
.app-home-dashboard-recentAchieve h4,
.app-home-dashboard-achievePoints p,
.app-home-dashboard-achievePoints h4 {
  margin: 10px auto;
}

.app-home-dashboard-coursesPlayed {
  border-bottom: solid 1px var(--darkGrey);
  grid-row: 2;
  grid-column: 2;
}

.app-home-dashboard-recentAchieve {
  border-bottom: solid 1px var(--darkGrey);
  grid-row: 3;
  grid-column: 1;
  border-right: solid 1px var(--darkGrey);
}

.app-home-dashboard-achievePoints {
  border-bottom: solid 1px var(--darkGrey);
}

.app-home-dashboard-recentRound {
  border-bottom: solid 1px var(--darkGrey);
  grid-row: 4;
  grid-column: 1/3;
}

.app-home-dashboard-recentRound-data {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.app-home-dashboard-recentRound-data time {
  font-weight: 300;
  margin: auto;
  color: var(--orange);
  font-size: 0.8em;
}

.app-home-dashboard-recentRound-data h5 {
  color: var(--lightGrey);
  text-decoration: underline;
  margin: auto;
  font-weight: 300;
}

.app-home-dashboard-recentRound-data p {
  font-size: 0.8em;
}

.app-home-dashboard-recentRound-data-course-name {
  width: 75%;
  margin: auto;
}
