.app-home-rounds-content {
  height: 75%;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: 50px auto;
}

.app-home-rounds-heading {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
}

.app-home-rounds-heading h3 {
  margin: auto;
  color: var(--lightGrey);
  text-decoration: underline;
}

.app-home-rounds-data-container {
  position: relative;
  overflow-y: scroll;
}

.app-home-rounds-data-container::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.app-home-rounds-data-container::-webkit-scrollbar-track {
  background: var(--darkGrey);
}

.app-home-rounds-data-container::-webkit-scrollbar-thumb {
  background: var(--lightGrey);
}

.app-home-rounds-data {
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  max-height: 50px;
}

.app-home-rounds-round {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
  border-bottom: solid 1px var(--darkGrey);
  color: var(--orange);
}

.app-home-rounds-round time {
  margin: auto;
  font-weight: 300;
  font-size: 0.8em;
  padding: 10px 0;
}

.app-home-rounds-round p {
  margin: auto;
  font-weight: 300;
  font-size: 0.8em;
  padding: 10px 0;
}

.rounds-expand-arrow {
  height: 20px;
  margin: auto;
}

.rounds-collapse-arrow {
  width: 20px;
  margin: auto;
}

.app-home-rounds-round-more {
  display: grid;
  grid-template-rows: 30px auto;
  width: auto;
  margin: 15px auto;
  grid-column: 1/7;
}

.app-home-rounds-round-more-heading {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.app-home-rounds-round-more-heading h4 {
  margin: auto;
  color: var(--lightGrey);
  text-decoration: underline;
  font-size: 0.75em;
  min-width: 75px;
}

.app-home-rounds-round-more-data {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-top: 1px solid var(--darkGrey);
}

.app-home-rounds-round-more-data:last-child {
  border-bottom: 1px solid var(--darkGrey);
}

.app-home-rounds-round-more-data p {
  padding: 3px 0px;
}

.app-home-rounds-round-course-p {
  width: 75%;
}
