.squalla-app-leagues-container {
  width: 90%;
  height: 90%;
  margin: auto;
}

#leagues-h2 {
  color: var(--orange);
  margin: auto;
  font-weight: 300;
}

.squalla-app-leagues-heading {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 0.5fr;
  color: var(--lightGrey);
  text-decoration: underline;
  margin-bottom: 10px;
}

.squalla-app-leagues-heading h3 {
  margin: 5px auto;
}

.squalla-app-leagues-league {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 0.5fr;
  border-top: 1px solid var(--darkGrey);
  color: var(--orange);
  font-weight: 300;
}

.app-leagues-league-selectArrow {
  width: 30px;
  margin: auto;
}

.app-leagues-league-backArrow {
  width: 30px;
  margin: auto;
}

.selected-league-container {
  width: 75%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 50px auto 50px;
}

.selected-league-content {
  grid-column: 2;
  grid-row: 1/3;
}

.selected-league-container-name {
  color: var(--orange);
  font-weight: 300;
}

.selected-league-container-type,
.selected-league-container-avail {
  color: var(--lightGrey);
}

.league-selected-player-data-container {
  margin: 25px auto auto;
}

.league-selected-player-data-container-heading {
  display: grid;
  grid-template-columns: 2fr 50px;
  margin: auto;
  width: 60%;
}

.league-selected-player-data-container-heading h4 {
  color: var(--lightGrey);
  text-decoration: underline;
  margin-top: 5px;
  margin-bottom: 5px;
}

.league-selected-player-data-container-heading-username {
  text-align: left;
  margin-left: 25px;
}

.league-selected-player-data-container-content {
  max-height: 55vh;
  overflow-y: auto;
}

.league-selected-player-data-container-content::-webkit-scrollbar {
  width: 0px;
}

.league-selected-player-data-container-content::-webkit-scrollbar-track {
  background: var(--darkGrey);
}

.league-selected-player-data-container-content::-webkit-scrollbar-thumb {
  background: var(--lightGrey);
}

.league-selected-player-data-container-content-player {
  display: grid;
  grid-template-columns: 2fr 50px;
  margin: auto;
  width: 60%;
  color: var(--orange);
  font-weight: 300;
  border-top: solid 1px var(--darkGrey);
}

.league-selected-player-data-container-content-player:last-child {
  border-bottom: solid 1px var(--darkGrey);
}

@media only screen and (max-width: 500px) {
  .squalla-app-leagues-container {
    width: 100%;
    height: 79%;
    margin: 35% auto auto;
    font-size: 0.75em;
  }

  .squalla-app-leagues-heading {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  .squalla-app-leagues-league {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  .app-leagues-league-selectArrow {
    width: 25px;
  }

  .selected-league-container {
    width: 100%;
  }

  .league-selected-player-data-container-heading {
    width: 100%;
  }

  .league-selected-player-data-container-content {
    max-height: 50vh;
  }

  .league-selected-player-data-container-content-player {
    width: 100%;
  }
}
