.app-home-courses-content-addCourse {
  width: 75%;
  height: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: 50px 50px auto;
  grid-template-columns: 1fr;
}

.add-course-button {
  color: var(--green);
  grid-column: 2;
  margin: auto;
  background: none;
  border: none;
  height: 75%;
  width: 75px;
  font-size: 0.75em;
  font-weight: 400;
  cursor: pointer;
}

.add-course-button h5 {
  margin: 0px auto;
  font-weight: 400;
}

.app-courses-course-add {
  height: 50px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  border-bottom: solid 1px var(--darkGrey);
}

.app-courses-course-add h3 {
  color: var(--orange);
  font-weight: 300;
  padding-left: 10px;
  grid-column: 1;
  font-size: 0.8em;
  text-align: center;
  margin: auto;
}

.app-courses-course-database {
  border-top: solid 1px var(--darkGrey);
  padding-bottom: 10px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.app-courses-course-database h3 {
  color: var(--orange);
  font-weight: 300;
  grid-column: 2;
  margin: 10px auto;
}
