.selectedCourse-container {
  width: 75%;
  height: 90%;
  margin: auto;
}

.selectedCourse-data {
  margin: 25px auto auto;
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 50px auto auto;
}

.selectedCourse-data-info1 {
  display: grid;
  margin-top: 50px;
  grid-column: 2;
}

.selectedCourse-data-info1 div {
  width: 100%;
  border-bottom: 1px solid var(--darkGrey);
  margin: 2px auto;
}

.selectedCourse-data-info1 h4 {
  color: var(--lightGrey);
  margin: 2px auto;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 1px solid var(--darkGrey);
}

.selectedCourse-data-info1 p {
  color: var(--orange);
  font-weight: 300;
  margin: 2px auto;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--darkGrey);
  width: 100%;
}

.selectedCourse-data h2 {
  color: var(--orange);
  font-weight: 300;
}

.selectedCourse-data-info2 {
  margin: 50px auto auto;
  width: 100%;
  grid-column: 2;
}

.selectedCourse-data-info2 h3 {
  margin: auto;
  font-size: 1em;
  font-weight: 300;
}

.app-home-rounds-heading-selectedCourse {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  color: var(--lightGrey);
  text-decoration: underline;
  margin-right: 5px;
}

.app-home-rounds-round-selected {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  border-bottom: solid 1px var(--darkGrey);
  color: var(--orange);
}

.app-home-rounds-round-selected time {
  margin: auto;
  font-weight: 300;
  font-size: 0.8em;
  padding: 10px 0;
}

.app-home-rounds-round-selected p {
  margin: auto;
  font-weight: 300;
  font-size: 0.8em;
  padding: 10px 0;
}

.selectedCourse-rounds-container {
  height: 35vh;
  overflow-y: scroll;
  margin-top: 10px;
}

.selectedCourse-rounds-container::-webkit-scrollbar {
  width: 5px;
}

.selectedCourse-rounds-container::-webkit-scrollbar-track {
  background: var(--darkGrey);
}

.selectedCourse-rounds-container::-webkit-scrollbar-thumb {
  background: var(--lightGrey);
}

.selectedCourse-rounds-p {
  color: var(--orange);
  font-weight: 300;
}
