.home-heading-container {
  text-align: center;
  margin: auto auto 0px auto;
  color: var(--lightGrey);
}

.home-heading-container h1 {
  font-weight: 400;
  font-size: 2em;
}

.home-heading-container2 {
  text-align: center;
  margin: auto;
  color: var(--lightGrey);
}

.home-heading-container2 h1 {
  font-weight: 400;
  font-size: 2em;
}

.home-heading-green {
  color: var(--green);
}

.home-heading-orange {
  color: var(--orange);
}

.home-content-section {
  color: var(--lightGrey);
}

.home-content-section2 {
  margin: auto;
}
.home-content-section2 img {
  margin: auto;
}

.home-boxes-container {
  width: 90%;
  height: 80%;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home-boxes-box-side {
  border: 1px solid var(--lightGrey);
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.home-boxes-box-middle {
  border-top: 1px solid var(--lightGrey);
  border-bottom: 1px solid var(--lightGrey);
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.home-boxes-box-middle h2 {
  margin: auto;
  text-align: center;
  text-decoration: underline;
}

.home-boxes-box-side h2 {
  margin: auto;
  text-align: center;
  text-decoration: underline;
}

.home-boxes-box-side p {
  margin: auto;
  text-align: center;
  width: 75%;
  font-size: 1em;
  padding: 2px;
}

.home-boxes-box-middle ul {
  margin: auto;
  list-style-type: none;
  padding: 0;
}

.home-boxes-box-middle ul li {
  padding: 5px;
}

.home-box-icon {
  margin: auto;
  width: 25%;
  padding: 5px;
}

.home-back-button {
  margin: 15px auto auto;
}

.home-continue-button {
  margin: auto auto 15px;
}

.home-main-content-container {
  margin: auto;
}

.home-main-content-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-search {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 100%;
  height: 100%;
}

#home-search-card-example {
  margin: auto;
  display: block;
  margin-top: 25px;
}

#compare-cards-example {
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2em;
}

#compare-cards-example img {
  margin: auto;
}

#blog-page-link {
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  .home-content-section2 {
    margin: auto;
  }
  .home-content-section2 img {
    width: 250px;
    margin-right: 5px;
  }
  .home-search-compare-example {
    width: 125px;
  }
}

@media only screen and (max-width: 600px) {
  .layout-container-out {
    max-height: 100%;
  }
  .home-boxes-box-middle ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .home-heading-container h1 {
    font-size: 1.2em;
  }

  .home-heading-container2 h1 {
    font-size: 1.2em;
  }
  .home-boxes-container {
    width: 90%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    max-height: 100%;
  }

  .home-boxes-container img {
    width: 20%;
    padding-top: 5px;
  }

  .home-boxes-box-middle {
    font-size: 0.5em;
    border-right: 1px solid var(--lightGrey);
  }

  .home-boxes-box-middle ul li {
    margin: auto;
  }

  .home-boxes-box-side {
    font-size: 0.5em;
  }

  #home-boxes-box-right {
    grid-column: 1/3;
    width: 50%;
    margin: 0 auto;
    border-top: none;
  }

  .home-search {
    grid-template-rows: 1fr auto 1fr;
    height: 90%;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    max-height: 575px;
  }

  .home-back-button input {
    width: 50px;
  }

  .home-continue-button input {
    width: 50px;
  }

  .home-main-content-container2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
  }

  .home-content-section2 img {
    width: 200px;
  }

  #home-search-compare-example3 {
    display: none;
  }

  #compare-cards-example {
    grid-template-columns: auto auto;
  }

  .home-content-section2 img {
    margin: 25px auto;
  }
}
